[submodule "system"]
	path = system
	url = git@github.com:PortNumber53/kohana-core.git
[submodule "modules/common"]
	path = modules/common
	url = git@github.com:PortNumber53/kohana-common.git
[submodule "modules/content"]
	path = modules/content
	url = git@github.com:PortNumber53/kohana-content.git
[submodule "modules/databasex"]
	path = modules/databasex
	url = git@github.com:PortNumber53/kohana-databasex.git
