[submodule "system"]
	path = system
	url = git@github.com:PortNumber53/kohana-core.git
[submodule "modules/common"]
	path = modules/common
	url = git@github.com:PortNumber53/kohana-common.git
[submodule "modules/databasex"]
	path = modules/databasex
	url = git@github.com:PortNumber53/kohana-databasex.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/image"]
	path = modules/image
	url = git://github.com/kohana/image.git
[submodule "modules/cachelayer"]
	path = modules/cachelayer
	url = git@github.com:PortNumber53/CacheLayer.git
[submodule "modules/form"]
	path = modules/form
	url = git@github.com:PortNumber53/kohana-form.git
[submodule "modules/shoppingcart"]
	path = modules/shoppingcart
	url = git@github.com:PortNumber53/kohana-shopping-cart.git
[submodule "modules/orm"]
	path = modules/orm
	url = git@github.com:PortNumber53/orm.git
[submodule "modules/cache"]
	path = modules/cache
	url = git@github.com:PortNumber53/cache.git
[submodule "modules/social"]
	path = modules/social
	url = git@github.com:PortNumber53/kohana-socialnetwork.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = https://github.com/kohana/unittest.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git@github.com:PortNumber53/pagination.git
[submodule "modules/auth"]
	path = modules/auth
	url = git@github.com:PortNumber53/auth.git
[submodule "modules/facebook"]
	path = modules/facebook
	url = https://github.com/facebook/facebook-php-sdk.git
[submodule "modules/urlify"]
	path = modules/urlify
	url = git@github.com:PortNumber53/urlify.git
